* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
    list-style: none;
}

img {
    height: 40px;
    width: auto;
}

:root {
    --black: #042a2b;
    --blue: #5eb1bf;
    --cyan: #cdedf6;
    --orange: #ef7b45;
    --red: #d84727;
}

.body {
    display: grid;
    min-height: 100vh;
    grid-template: 230px 1fr / 450px 1fr;
}

.header {
    background-color: white;
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.row1 {
    display: flex;
    align-items: center;
    gap: 60px;
    padding-right: 100px;
}

#magnify {
    position: relative;
    left: 40px;
}

input {
    width: 40vw;
    background-color: gainsboro;
    border: none;
    border-radius: 14px;
}

input:focus {
    outline: 4px solid var(--blue);
    padding-left: 1rem;
}

#notification {
    margin-left: auto;
    height: 30px;
    width: auto;
}

.user {
    border: 1px solid gainsboro;
    box-shadow: 2px 2px 10px 3px #042a2b31;
    border-radius: 50%;
    height: 55px;
    width: auto;
}

.row1 p {
    font-weight: 800;
    letter-spacing: .02rem;
    position: relative;
    right: 20px;
}

.row2 {
    display: flex;
    align-items: center;
    gap: 60px;
    padding-left: 40px;
    padding-bottom: 30px;
    padding-right: 10vw;
}

.row2 .user {
height: 80px;
width: auto;
}

.row2 p {
    font-weight: 900;
    letter-spacing: .03rem;
    font-size: 30px;
}

.row2 .hi {
    font-size: .6rem;
}

.row2 button {
    background-color: var(--orange);
    font-size: 20px;
    width: 140px;
    height: 50px;
    color: white;
    border: none;
    border-radius: 25px;
}

#btn1 {
    margin-left: auto;
}

.sidebar {
    background-color: var(--orange);
    grid-row: 1 / -1;
    display: grid;
    grid-template-rows: 150px 500px 300px;
    padding-bottom: 40vh;
    padding-left: 2.5rem;
    padding-top: 30px;
}

.sidebar li, .sidebar h1 {
    padding-top: 25px;
    color: white;
    font-weight: 700;
}

.sidebar h1 {
    font-size: 35px;
}

.main {
    background-color: rgb(234, 234, 234);
    background-image: url("img/lightgrid.jpg");
    padding: 50px 40px;
    display: grid;
    grid-template-columns: 3fr 1fr;
    box-shadow: 0px 10px 200px 5000px rgba(234, 234, 234, 0.815) inset;
}

.cards {
    display: grid;
    /* grid-template-columns: 1fr 1fr 1fr; */
    grid-template-columns: repeat(auto-fit, minmax(470px, 1fr));
    gap: 40px;
}

.main-left p {
    font-weight: 800;
    letter-spacing: .05rem;
    color: var(--black);
    font-size: 22px;
    margin: 10px;
}

.card {
    background-color: white;
    height: 260px;
    border-left: 10px solid var(--blue);
    border-radius: 13px;
    display: grid;
    padding: 40px 20px;
    padding-bottom: 0px;
    grid-template-rows: 2fr 1fr;
    box-shadow: 2px 2px 5px 2px #042a2b2b;
}

.project-icons {
    justify-self: right;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    padding-right: 30px;
}

.card h1 {
    font-size: 20px;
}

.card p {
    font-size: 16px;
    font-weight: 100;
}

.main-right {
    display: grid;
    grid-template-rows: 2rem 3fr 2rem 2fr;
    grid-template-columns: minmax(300px, 400px);
    padding-inline: 40px;
    max-height: 80vh;
}

.main-right h1 {
    align-self: center;
    color: var(--black);
    font-size: 22px;
}

.announcements {
    background-color: white;
    padding: 40px;
    border-radius: 10px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    box-shadow: 2px 2px 5px 2px #042a2b14;
    overflow: hidden;
    align-items: center;
}

.announcements p, .announcements h2 {
    font-size: 17px;
}

.announcement {
    height: 100%;
    padding-bottom: 10px;
    padding-top: 10px;
    border-bottom: 2px solid #dfdfdf;
}

.announcement:last-child {
    border-bottom: none;
    padding-bottom: none;
}

.announcement:first-child {
    padding-top: none;
}

.trending {
    background-color: white;
    padding: 30px;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    gap: 20px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 2px 2px 5px 2px #042a2b14;
}

.trending-user {
    display: flex;
    gap: 20px;
    align-items: center;
}

.trending-user h3 {
    font-size: 18px;
}

.trending-user p {
    font-size: 18px;
    color: var(--black);
}

.trending-user img {
    height: 50px;
}