* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
    list-style: none;
}

img {
    height: 40px;
    width: auto;
}

:root {
    --black: #042a2b;
    --blue: #5eb1bf;
    --cyan: #cdedf6;
    --orange: #ef7b45;
    --red: #d84727;
}

.body {
    display: grid;
    min-height: 100vh;
    grid-template: 230px 1fr / 450px 1fr;
    border: 2px solid red;
}

.header {
    background-color: white;
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.row1 {
    display: flex;
    align-items: center;
    gap: 60px;
    padding-right: 100px;
}

#magnify {
    position: relative;
    left: 40px;
}

input {
    width: 40vw;
    background-color: gainsboro;
    border: none;
    border-radius: 14px;
}

input:focus {
    outline: 4px solid var(--blue);
    padding-left: 1rem;
}

#notification {
    margin-left: auto;
    height: 30px;
    width: auto;
}

.user {
    border: 2px solid gainsboro;
    border-radius: 50%;
    height: 55px;
    width: auto;
}

.row1 p {
    font-weight: 800;
    letter-spacing: .02rem;
    position: relative;
    right: 20px
}

.row2 {
    display: flex;
    align-items: center;
    gap: 60px;
    padding-left: 40px;
    padding-bottom: 30px;
    padding-right: 10vw;
}

.row2 .user {
height: 80px;
width: auto;
}

.row2 p {
    font-weight: 800;
    letter-spacing: .03rem;
}

.row2 .hi {
    font-size: .6rem;
}

.row2 button {
    background-color: var(--orange);
    font-size: 20px;
    width: 140px;
    height: 50px;
    color: white;
    border: none;
    border-radius: 25px;
}

#btn1 {
    margin-left: auto;
}

.sidebar {
    background-color: var(--orange);
    grid-row: 1 / -1;
    display: grid;
    grid-template-rows: 150px 500px 300px;
    padding-bottom: 40vh;
    padding-left: 2.5rem;
    padding-top: 30px;
}

.sidebar li, .sidebar h1 {
    padding-top: 25px;
    color: white;
    font-weight: 700;
}

.sidebar h1 {
    font-size: 35px;
}

.main {
    background-color: rgb(193, 193, 193);
}
